<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="rewardRecord">

    <!--查詢打赏记录-->
    <select id="getRewardRecord" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT r.id,a.nickName as anchorNickName,a.realName,l.nickName as listenerName,p.name as presentName,p.denseNum,FROM_UNIXTIME(r.createTime,'%Y-%m-%d %H:%i:%s') as createTime
        from rewardRecord r
        LEFT JOIN presentInfo p on p.id = r.presentInfoID
        LEFT JOIN listenerAccountInfo l on l.accountID = r.listenerAccountID
        LEFT JOIN accountInfo a on a.accountID = r.anchorAccountID
        WHERE r.isValid = #{isValid}
        <if test="anchorName != null">and <![CDATA[ (a.nickName like '%${anchorName}%' or a.realName like '%${anchorName}%')]]></if>
        <if test="listenerName != null">and <![CDATA[ l.nickName like '%${listenerName}%']]></if>
        <if test="presentName != null">and <![CDATA[ p.name like '%${presentName}%']]></if>
        ORDER BY r.createTime desc limit #{startPlace},#{size}
    </select>

    <!--查詢打赏记录总数-->
    <select id="getRewardRecordNum" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(*)
        from rewardRecord r
        LEFT JOIN presentInfo p on p.id = r.presentInfoID
        LEFT JOIN listenerAccountInfo l on l.accountID = r.listenerAccountID
        LEFT JOIN accountInfo a on a.accountID = r.anchorAccountID
        WHERE r.isValid = #{isValid}
        <if test="anchorName != null">and <![CDATA[ (a.nickName like '%${anchorName}%' or a.realName like '%${anchorName}%')]]></if>
        <if test="listenerName != null">and <![CDATA[ l.nickName like '%${listenerName}%']]></if>
        <if test="presentName != null">and <![CDATA[ p.name like '%${presentName}%']]></if>
    </select>

</mapper>